@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&family=Poppins:wght@500;700&family=Roboto:wght@100&display=swap');

body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
/* ----------------
     header
/* ------------------  */
/* .container-header{
    display: table;
    
}  */
.container{
    display: flex;
    background-color: black;
    color: whitesmoke;
    width: 1181px;
    height: 646px;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
}
.player-detail{
    width: 531px;
    height: 424px;
    margin-left: 5%;
}
.font-size{
    font-size: 55px;
}
.anchor{
    text-decoration: none;
    color: whitesmoke;
    background-color: #DD0000;
    padding: 10px 15px;
    border-radius: 5px;
}
.image{
    width: 581px;
    height: 613px;
    margin-top: 20%;
    margin-left: 0%;
}

   /* ----------------
        side box 
    ------------------ */
   .container-flexible{
    display: flex;
    margin-top: 130px;
    margin-left: 50px;
    
   }
   .box{
    background-color: #161616;
    width: 212px;
    height: 212px;
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
    
   }
   button{
    width: 152px;
    height: 40px;
    margin-top: 15%;
    border-radius: 7px;
   }
   #color{
    background-color: #DD0000;
   }
   /* ------------
   make card 
   ------------- */
   .container-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
   }
   .card{
    width: 317px;
    height: 324.21px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
   }
   .icon{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
   }
   .transfer{
    margin-top: 0%;
    height: 20px;
    width: 80px;
   }
   .red-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
   }
   #view-button{
    border: #DD0000;
    background-color: #DD0000;
    padding: 25px;
    align-items: center;
    color: aliceblue;
    
   }
   /* ---------------
         footer
    ---------------  */
   footer{
    margin-top: 10%;
    background-color: #161616;
    color: aliceblue;
    padding: 50px 150px;
   }
   .contente-center{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .menu, a{
    text-decoration: none;
    color: aliceblue;
    margin-left: 10px;
   }

   /*-----------------
    match html style 
    ------------------ */

    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 24px;
        column-gap: 24px;
    }
    .make-card{
        box-shadow: 2px 2px 2px cornsilk;
        width: 312px;
        height: 242px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image-1{
        display: flex;
        flex-direction: row;
    }
    /* -----------------
       mobile responsive
    -------------------- */
    @media only screen and (max-width:688px) {
        
        .container{
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 100%;
            
        }
        .player-detail{
            width: 100%;
        }
        .image{
            width: 100%;
            margin-top: 50%;
            height: 80%;
            
            
        }
        .container-flexible{
            display: flex;
            flex-direction: column;
            margin-top: 200px;
            margin-left: 10%;
            
        }
        .container-grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        .box{
            margin-left: 16%;
        }
        
        .menu{
            display: flex;
            flex-direction: column;
        }
        .icon-div{
            display: flex;
            flex-direction: row;
        }
        .grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        #view-button{
            display: none;
        }
    }

    /* -------------------
    tablate device  
    ----------------------*/

    @media only screen and (min-width:689px) and (max-width:991px) {
        /* body{
            display: flex;
            flex-direction: column;
           margin: auto;
        } */
        .container{
            display: flex;
            width: 90%;
            height: 100%;
            /* margin: auto; */
            align-items: flex-start;
        }
        .container-flexible{
            display: flex;
            flex-direction: column;
        }
        .box{
            display: flex;
            flex-direction: row;
            height: 0%;
            width: 0%;
            /* margin-left: 15%; */
            margin-bottom: 5%;
        }
        
        .container-grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
        }
        .menu{
            display: flex;
            flex-direction: row;
        }
    }

    /*---------------------
        learge device
     -----------------------  */
    @media only screen and (min-width:992px) and (max-width:1312px) {
        #view-button{
            display: none;
        }
    }

  